{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% block num_results %}
    <div>
        {% transchoice pager.nbresults with {'%count%': pager.nbresults} from 'SonataAdminBundle' %}list_results_count{% endtranschoice %}
    </div>
{% endblock %}

{% block pager_links %}
    <ul class="pagination">
        {% if pager.page > 2  %}
            <li><a href="{{ url(route, app.request.query.all|merge({page: 1})) }}" title="{{ 'link_first_pager'|trans({}, 'SonataAdminBundle') }}">&laquo;</a></li>
        {% endif %}

        {% if pager.page != pager.previouspage %}
            <li><a href="{{ url(route, app.request.query.all|merge({page: pager.previouspage})) }}" title="{{ 'link_previous_pager'|trans({}, 'SonataAdminBundle') }}">&lsaquo;</a></li>
        {% endif %}

        {# Set the number of pages to display in the pager #}
        {% for page in pager.getLinks(10) %}
            {% if page == pager.page %}
                <li class="active"><a href="{{ url(route, app.request.query.all|merge({page: page})) }}">{{ page }}</a></li>
            {% else %}
                <li><a href="{{ url(route, app.request.query.all|merge({page: page})) }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        {% if pager.page != pager.nextpage %}
            <li><a href="{{ url(route, app.request.query.all|merge({page: pager.nextpage})) }}" title="{{ 'link_next_pager'|trans({}, 'SonataAdminBundle') }}">&rsaquo;</a></li>
        {% endif %}

        {% if pager.page != pager.lastpage and pager.lastpage != pager.nextpage %}
            <li><a href="{{ url(route, app.request.query.all|merge({page: pager.lastpage})) }}" title="{{ 'link_last_pager'|trans({}, 'SonataAdminBundle') }}">&raquo;</a></li>
        {% endif %}
    </ul>
{% endblock %}